<h1><%= @shelter.name %></h1>
  <h2>Address:</h2><p><%= @shelter.address %></p>
  <h2>City:</h2><p><%= @shelter.city %></p>
  <h2>State:</h2><p><%= @shelter.state %></p>
  <h2>Zip:</h2><p><%= @shelter.zip %></p>

<a href="/shelters/<%=@shelter.id%>/edit">Update Shelter</a>
