<h1>All Critters</h1>

<ul id="pets">
  <% @pets.each do |pet| %>
    <h2><%= pet.name %></h2>
      <body><%= pet.image %><br>
      <%= pet.age %><br>
      <%= pet.sex %><br>
      <%= pet.shelter_id %><br>
      </body>
  <% end %>
</ul>
