<h1>All Pets from:  <%= "#{@shelter.name}" %> </h1>

<ul id="pets">
  <% @pets.each do |pet| %>
    <h2><%= pet.name %></h2>
      <body><%= pet.image %><br>
      <%= pet.age %><br>
      <%= pet.sex %><br>
      <%= pet.shelter_id %><br>
      </body>
  <% end %>
</ul>

<a href="/shelters/<%=@shelter.id%>/pets/new">Create Pet</a>
